<script>
import Vue from 'vue';

export default Vue.extend({
  name: 'Careers',
  data() {
    return {
      postings: [
        {
          title: 'Backend Engineer',
          team: 'Distribution: Deploy',
          region: 'Global',
          link: 'https://boards.greenhouse.io/gitlab/jobs/6296566002',
        },
        {
          title: 'Engineering Manager',
          team: 'Govern: Security Policies',
          region: 'Global',
          link: 'https://boards.greenhouse.io/gitlab/jobs/6373765002',
        },
        {
          title: 'Backend Engineer / Senior Backend Engineer',
          team: 'Scalability',
          region: 'Global',
          link: 'https://boards.greenhouse.io/gitlab/jobs/5444100002',
        },
        {
          title: 'Site Reliability Engineer / Senior Site Reliability Engineer',
          team: 'US Public Sector Services',
          region: 'US',
          link: 'https://boards.greenhouse.io/gitlab/jobs/6281839002',
        },
        {
          title: 'Site Reliability Engineer / Senior Site Reliability Engineer',
          team: 'Reliability',
          region: 'Global',
          link: 'https://boards.greenhouse.io/gitlab/jobs/6397370002',
        },
        {
          title: 'Senior Backend Engineer',
          team: 'Analytics and Experimentation',
          region: 'Global',
          link: 'https://boards.greenhouse.io/gitlab/jobs/6190242002',
        },
      ],
    };
  },
});
</script>

<template>
  <div class="careers">
    <SlpContainer>
      <SlpRow class="slp-my-96 careers__container" style="gap: 48px">
        <SlpColumn :cols="6" style="flex: initial">
          <SlpTypography variant="heading2-bold" tag="h2" class="slp-pb-16">
            We’re hiring. Join us!
          </SlpTypography>
          <SlpTypography variant="heading5-bold" tag="p" class="slp-pb-16">
            Contribute to a culture of empathy and productivity
          </SlpTypography>
          <SlpTypography variant="body2" tag="p" class="slp-pb-16">
            GitLab is an open core software company that develops a
            <a
              href="https://about.gitlab.com/solutions/devops-platform/"
              data-ga-name="devops-platform"
              data-ga-location="body"
            >
              DevOps Platform</a
            >
            used by more than 100,000 organizations. Our
            <a
              href="https://about.gitlab.com/company/mission/"
              data-ga-name="mission"
              data-ga-location="body"
              >mission</a
            >
            makes it clear that we believe in a world where everyone can
            contribute. We make that possible at GitLab by running
            <a
              href="https://about.gitlab.com/handbook/product/product-processes/"
              data-ga-name="operations"
              data-ga-location="body"
              >our operations</a
            >
            on our product and staying aligned with
            <a
              href="https://about.gitlab.com/handbook/values/"
              data-ga-name="values"
              data-ga-location="body"
              >our values</a
            >.
          </SlpTypography>
          <SlpTypography variant="body2" tag="p">
            We strive to create a transparent environment where all team members
            around the world feel that their voices are heard and welcomed. We
            also aim to be a place where people can show up as their full selves
            each day and contribute their best.
          </SlpTypography>
          <SlpButton
            href="https://about.gitlab.com/jobs/all-jobs/"
            data-ga-name="all-jobs"
            data-ga-location="body"
            variant="primary"
            class="slp-mt-32"
            >View open roles at GitLab</SlpButton
          >
        </SlpColumn>
        <SlpColumn :cols="6" style="flex: initial">
          <div class="careers__job-posts">
            <a
              v-for="(post, index) in postings"
              :key="index"
              :href="post.link"
              class="slp-flex careers__post slp-pl-8"
              :data-ga-name="`${post.title}, ${post.team} ${post.region}`"
              data-ga-location="body"
            >
              <img src="/nuxt-images/icons/events/user.svg" />
              <SlpTypography variant="body2" tag="p" class="slp-py-16 slp-px-8">
                {{ post.title }}, {{ post.team }} ({{ post.region }})
              </SlpTypography>
            </a>
          </div>
        </SlpColumn>
      </SlpRow>
    </SlpContainer>
  </div>
</template>

<style lang="scss" scoped>
.careers {
  background: #f6f3fe;

  &__container {
    gap: 48px;
    flex-wrap: nowrap;

    @media screen and (max-width: $breakpoint-sm) {
      flex-wrap: wrap;
    }
  }

  &__job-posts {
    background: #fff;
    color: #7759c2;
    border-radius: 0px 0px 90px 0px;
    padding: 56px 36px;
  }

  &__post:hover {
    background: #f6f3fe;
  }
}
</style>
