<script lang="ts">
import Vue from 'vue';

export default Vue.extend({
  props: {
    links: {
      required: true,
      type: Array,
    },
    darkMode: {
      type: Boolean,
      required: false,
    },
  },
  data() {
    return {
      currentLinkIndex: 0,
      isDarkMode: this.darkMode,
    };
  },
  mounted() {
    const bottomObserverMargin = (window.innerHeight - 120 - 48) * -1;

    window.addEventListener('load', () => {
      const children = Array.from(
        document.getElementById('side-nav-children')?.children,
      );
      const observer = new IntersectionObserver(
        (entries) => {
          entries.forEach((entry) => {
            if (entry.isIntersecting) {
              this.currentLinkIndex = children.findIndex(
                (item) => item === entry.target,
              );
              this.isDarkMode = entry.target.dataset.slippersScrollDarkmode;
            }
          });
        },
        {
          rootMargin: `-120px 0px ${bottomObserverMargin}px 0px`,
        },
      );
      children.forEach((section) => observer.observe(section));
    });
  },
});
</script>

<template>
  <SlpContainer>
    <SlpRow id="side-nav-parent">
      <SlpColumn id="side-navigation" :cols="2" class="side-navigation">
        <ul id="side-navigation__wrapper" class="side-navigation__wrapper">
          <li
            v-for="(link, index) in links"
            :key="link.title"
            class="slp-py-8 slp-my-8"
          >
            <SlpTypography
              class="side-navigation__text slp-pb-4"
              :class="{
                'side-navigation__text--hover': index === currentLinkIndex,
                'side-navigation__text--dark': isDarkMode,
              }"
              variant="body2"
              tag="a"
              :href="link.href"
            >
              {{ link.title }}
            </SlpTypography>
          </li>
        </ul>
      </SlpColumn>
      <SlpColumn id="side-nav-children">
        <slot></slot>
      </SlpColumn>
    </SlpRow>
  </SlpContainer>
</template>

<style lang="scss" scoped>
.side-navigation {
  &__wrapper {
    position: sticky;
    margin-top: $spacing-96;
    padding-bottom: $spacing-24;
    width: 100%;
    padding-left: $spacing-32;
    overflow: hidden;
    display: none;
    top: 256px;

    @media (min-width: $breakpoint-lg) {
      display: block;
    }
  }

  &__text {
    transition: all 0.25s ease;
    opacity: 0.2;
    font-weight: 700;
    line-height: 12px;
    text-decoration: none;
    color: hsl(257, 27%, 10%);

    &--dark {
      color: #fff;
    }

    &:hover {
      text-decoration: none;
      color: $color-text-300;
      opacity: 1;
    }

    &--hover {
      box-shadow: inset 0 -2px 0 0 #7759c2;
      opacity: 1;
    }
  }
}
</style>
